* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #303030;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #c00;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: rgb(209, 209, 209);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  opacity: 0.9;
  overflow: hidden;
  padding: 0;
  width: 200px;
}

.movie-card-image {
  width: 100%;
}

.movie-card:hover {
  border: red solid 1px;
  opacity: 1;
}

.movie-card-body {
  flex: 1 1 auto;
}

.div-text {
  padding: 20px;
}

.div-storyLine {
  height: 80px;
}

.movie-card-title {
  color: black;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 20px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}
